<div class="photoSide" [style]="router.url == '/selection' ? 'margin-top: 50px' : '10px'">
  @if(accountService.getAccountStorage()?.name && router.url != '/configuration'){
  @if(router.url == '/summary'){
  <div class="medalTitle">
    <span>Entrenador</span>
    <img src="icons/medal.svg" />
  </div>
  }@else {
  <p class="nameTitle">{{accountService.getAccountStorage()?.name}}</p>
  }
  }@else {
  <h2>Imágen perfil</h2>
  }

  <div class="imageContainer">
    @if (imageSelected) {
    <div class="photoExist">
      <img src="{{imageSelected}}">
    </div>
    }@else {
    <div class="photoNonExist">
      <img class="imageDefault" src="icons/user.svg">
    </div>
    }
  </div>

  @if (editable) {
  <div class="dropZone" [class.dragged]="dragged" (drop)="drop($event)" (dragover)="dragOver($event)"
    (dragleave)="dragLeave($event)">
    <span>{{dragged ? 'Suelta la foto' :'Adjunta un foto'}}</span>
    @if(!this.imageSelected){
    <img src="icons/cloud.svg">
    }@else {
    <img (click)="removeImage()" src="icons/trash_can.svg">
    }
  </div>
  }@else {
  <div class="infoContainer">
    <p>Pasatiempo:</p>
    <p>{{accountService.getAccountStorage()?.hobby}}</p>
    <p>Edad:</p>
    <p>{{accountService.getAccountStorage()?.age}} año(s)</p>
    @if (accountService.getAccountStorage() && accountService.getAccountStorage()?.identification !== null &&
    accountService.getAccountStorage()?.identification?.replace('/\s/g', "")) {
    <p>Idetificación:</p>
    <p>{{accountService.getAccountStorage()?.identification}}</p>
    }
  </div>
  }




</div>
