  .pokemonSelectionContainer {
    button[type=submit] {
      background-color: var(--primary-color);
      outline: none;
      border: 0;
      color: white;
      border-radius: 10px;
      padding-block: 10px;
      padding-inline: 60px;
      cursor: pointer;
      width: min-content;
      margin-inline: auto;
      margin-top: 20px;
    }

    .searchContainer {
      position: relative;

      img {
        position: absolute;
        top: 9px;
        left: 5px;
      }

      input {
        padding-inline: 35px;
        padding-block: 10px;
        background-color: var(--neutral-color-10);
        border: none;
        height: 20px;
        width: 100%;
        border-radius: 10px;
      }
    }

    .pokemonsContainer {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 30px;
      height: 450px;
      margin-top: 20px;
      overflow-y: auto;
      overflow-x: hidden;

      .cardPokemon {
        position: relative;
        background-color: var(--neutral-color-10);
        margin-top: 50px;
        text-align: center;
        border-radius: 20px;
        height: 130px;
        cursor: pointer;
        width: 170px;
        min-width: 170px;

        img {
          transform: translateY(-50px);
          width: 100px;
          height: 100px;
        }

        .info {
          font-size: small;
          background-color: var(--primary-color);
          color: white;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          padding-block: 5px;
          padding-inline: 10px;
          border-radius: 10px;
          margin: 10px;
          font-weight: bold;
          transform: translateY(-30px);
        }
      }

      .cardPokemon.disableSelection {
        filter: opacity(0.5);
        cursor: auto;
      }

      .cardPokemon.selectedPokemon {
        background-color: var(--secondary-color);
      }

    }
  }
