<main>
  <app-title-header></app-title-header>
  <section class="container">
    <app-profile-card></app-profile-card>
    <div class="pokemonSelectionContainer">
      <h2>Pokémon</h2>
      <p>Selecciona 3 Pokémon para que sean parte de tu equipo</p>

      <div class="searchContainer">
        <img src="icons/search.svg">
        <input (input)="searchPokemon($event)" placeholder="Buscar por índice, nombre..."/>
      </div>

      <div class="pokemonsContainer">
        @for (pokemon of pokemons; track $index) {
          <div class="cardPokemon" [class.selectedPokemon]="pokemon.selected" [class.disableSelection]="!pokemon.selected && disableSelection" (click)="selectPokemon(pokemon.id)">
            <img src={{pokemon.sprites.other.home.front_default}}>
            <div class="info"><span>{{pokemon.id}}</span><span>{{pokemon.name}}</span></div>
          </div>
        }
      </div>

      <input (click)="savePokemons()" [disabled]="!disableSelection" type="submit" value="Guardar"/>


    </div>
  </section>
</main>
