main {
  .headerSection{
    width: 80%;
    margin-top: 50px;
    margin-inline: auto;
    h1 {
      img{
        margin-right: 10px;
      }
      font-weight: 400;
      margin: 0;
      color: var(--primary-color);

      span {
        font-weight: bold;
      }
    }
    p{
      margin-left: 20px;
    }
  }


  p.subtitle {
    color: var(--neutral-color-40);
    margin: 0;
  }

  section {
    margin-top: 50px;
    padding-bottom: 80px;
    width: 80%;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;

    .photoSide {
      background-color: var(--secondary-color);
      border-radius: 50px;
      padding: 30px 50px;

      h2 {
        font-weight: 400;
        text-align: center;
      }

      .imageContainer {
        background-color: white;
        padding: 10px;
        border-radius: 50%;
        height: 200px;
        width: 200px;

        .photoNonExist {
          background-color: var(--gray-color-40);
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          width: 100%;

          img {
            width: 40px;
            height: 40px;
          }
        }

        .photoExist {
          width: 100%;
          height: 100%;

          img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            object-fit: cover;
            object-position: top;
          }
        }
      }

      .dropZone{
        margin-top: 50px;
        border: 1px dashed var(--primary-color-40);
        background-color: white;
        border-radius: 10px;
        padding-block: 15px;
        width: 100%;
        padding-inline: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: smaller;
        color: var(--primary-color-30);
      }
    }

    .formSide {
      form {
        .inputContainer {
          display: flex;
          flex-direction: column;
          position: relative;
          margin-bottom: 35px;

          label {
            position: absolute;
            top: -10px;
            left: 20px;
            background-color: white;
            color: var(--primary-color);
          }

          input {
            height: 20px;
          }

          input,
          select {
            padding-top: 15px;
            padding-bottom: 10px;
            border: 1px solid var(--neutral-color-40);
            border-radius: 10px;
            padding-inline: 20px;
            color: var(--neutral-color-50);
          }

          select option {
            background-color: white;
            color: var(--primary-color);
          }

          select option:hover {
            background-color: var(--gray-color-40);
          }
        }

        input.valid,
        select.valid {
          border: 1px solid var(--primary-color);
        }

        button[type=submit] {
          background-color: var(--primary-color);
          outline: none;
          border: 0;
          color: white;
          border-radius: 10px;
          padding-block: 10px;
          padding-inline: 60px;
          cursor: pointer;
          width: min-content;
          margin-inline: auto;
        }

      }
    }
  }
}
