<main>
  <app-title-header></app-title-header>

  <section class="container">
    <app-profile-card (imageResult)="resultImage($event)"></app-profile-card>

    <div class="formSide">
      <h2>Tu información</h2>
      <p>Completa la siguiente información para completar tu perfil</p>

      <form [formGroup]="configurationsForm">
        <div class="inputContainer">
          <label [ngClass]="{
            'isValid': configurationsForm.get('name')?.valid,
            'isInValid': configurationsForm.get('name')?.invalid && configurationsForm.get('name')?.value?.length! > 0
          }">Nombre*</label>
          <input type="text" name="name" formControlName="name" placeholder="Nombre*" />
        </div>

        <div class="inputContainer">
          <label [class.isValid]="configurationsForm.get('hobby')?.valid">Pasatiempo favorito</label>
          <select name="hobby" formControlName="hobby">
            <option value="" disabled selected>Pasatiempo Favorito</option>
            <option value="futbol">Jugar Futbol</option>
            <option value="basketball">Jugar Basketball</option>
            <option value="tenis">Jugar Tenis</option>
            <option value="padel">Jugar Padel</option>
          </select>
        </div>

        <div class="inputContainer">
          <label [class.isValid]="configurationsForm.get('birthday')?.valid">Cumpleaños*</label>
          <input type="date" name="birthday" formControlName="birthday" (input)="handleDate($event.target)" />
        </div>

        @if (isAdult) {
        <div class="inputContainer">
          <label [ngClass]="{
            'isValid': configurationsForm.get('identification')?.valid,
            'isInValid': configurationsForm.get('identification')?.invalid && configurationsForm.get('identification')?.value?.length! > 0
          }">Documento*</label>
          <input type="text" [mask]="'00000000-0'" name="identification"
            formControlName="identification" placeholder="Documento*" />
        </div>
        }@else {
        @if (ageValid) {
        <div class="inputContainer">
          <label [class.isValid]="configurationsForm.get('identification')?.valid">Carnet de Minoridad</label>
          <input type="text" name="identification" formControlName="identification" placeholder="Carnet de Minoridad" />
        </div>
        }
        }

        <input (click)="setAccountInfo()" [disabled]="configurationsForm.invalid || !image" type="submit" value="Continuar" />
      </form>
    </div>
  </section>

</main>
